 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
*::selection{
  background: rgba(255, 255, 255,0.1);
color:#eee;
}
    :root {
      --white: #ffffff;
      --yellow: #fff000;
      --dark: #292929;
      --dark2: #3c3b3d;
    }

    body {
      min-height: 100vh;
      font-family: "Inter", sans-serif;
      color: white;

      background:
        radial-gradient(
          circle at 50% 55%,
          rgba(130,130,130,0.13),
          transparent 38%
        ),
        linear-gradient(
          180deg,
          #242424 0%,
          #3a393b 100%
        );

      overflow-x: hidden;
    }

    /* Background blur effect */
    body::before {
      content: "";
      position: fixed;
      inset: 0;
      pointer-events: none;

      background:
        radial-gradient(
          circle at 50% 70%,
          rgba(255,255,255,0.07),
          transparent 30%
        ),
        radial-gradient(
          circle at 50% 30%,
          rgba(255,255,255,0.025),
          transparent 35%
        );

      filter: blur(30px);
    }


    /* =========================
       PAGE
    ========================= */

    .page {
      position: relative;
      z-index: 1;

      min-height: 100vh;
      padding: 38px 48px 30px;
    }


    /* =========================
       DESKTOP HEADER
    ========================= */

    .desktop-header {
      width: min(100%, 930px);

      margin: 0 auto;

      display: grid;
      grid-template-columns: 130px minmax(500px, 625px) 130px;

      align-items: center;
      justify-content: space-between;
    }


    /* Logo placeholder */

    .desktop-logo {
      width: 72px;
      height: 72px;

      /* Empty space for your logo */
      display: block;
    }


    /* Navigation */

    .nav {
      height: 62px;

      padding: 4px 46px;

      border: 1px solid rgba(255,255,255,0.58);
      border-radius: 20px;

      background: rgba(160,160,160,0.23);

      box-shadow:
        0 0 18px rgba(255,255,255,0.10),
        inset 0 0 16px rgba(255,255,255,0.04);

      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);

      display: flex;
      align-items: center;
      justify-content: space-between;
    }


    .nav-item {
      width: 106px;
      height: 50px;
      border: 1px solid rgba(255,255,255,0.40);
      border-radius: 12px;

      background: rgba(120,120,120,0.30);
      transition:0.1s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
    }
 .nav-item:hover{
  transform:scale(0.9);
 }
 .nav-item:active{
      background: rgb(120 120 120 / 68%);
 }

    /* Icon placeholder */

    .nav-icon {

      /* Empty space for icon */
      display: block;
    }
.nav-btns{
  width:40px;
  height:40px;
}

  /*======Menu bar===*/
#menubar{
position:fixed;
top:3%;
left:-70%;
width: 250px;
height:90vh;
background:linear-gradient(120deg, #99999973 60%, #ffff4444);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.25);
color:#eee;
z-index:6;
border-radius:20px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
transition:0.2s cubic-bezier(0.71, 0.41, 0.51, 0.81);
}

#menu-nav{
display: flex;
justify-content: center;
position: relative;
top:0;
}

#menu-hd{
  font-size: 25px !important;
}

#menu-nav>button{
  position:absolute;
  top:50px;
  right: -55px;
  border:1px solid #eee;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  background: transparent;
  font-family: arial;
  color:#eee;
}

#menu-btn-cont{
  position: relative;
  bottom:50px;
  width: 100% ;
  height:60%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;  
}
  .menu-i{
    width: 100%;
    height:60px;
    /*background: rgba(0, 0, 0, 1.0);*/
text-decoration: none;
    color:#eee;
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-bottom:1px solid #eee;
    align-items: center;
  }

menufooter{
  text-align: center;
  /*background-color: ?#333;*/
  width: 100%;
  margin-bottom: 30px;
}

    /* =========================
       MAIN
    ========================= */

    .main {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }


    h1 {
      margin-top: 43px;
      margin-bottom: 26px;

      font-size: 42px;
      line-height: 1.1;

      font-weight: 800;

      letter-spacing: -1.2px;

      text-align: center;
    }



    /* =========================
       LOGIN CARD
    ========================= */

    .login-card {
      width: min(568px, 92vw);

      min-height: 425px;

      padding: 58px 37px 27px;

      border: 2px solid rgba(235,235,235,0.55);

      border-radius: 38px;

      background:
        linear-gradient(
          145deg,
          rgba(170,168,170,0.20),
          rgba(55,54,56,0.13)
        );

      box-shadow:
        0 0 24px rgba(255,255,255,0.08),
        inset 0 0 30px rgba(255,255,255,0.035);

      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
    }



    /* =========================
       FORM
    ========================= */

    .form {
      display: flex;
      flex-direction: column;

      gap: 39px;
    }


    .field {
      width: 100%;
      height: 57px;
      transition:0.2s ease-in-out;
      border: 1.5px solid rgba(255,255,255,0.86);

      outline: none;

      border-radius: 17px;

      padding: 0 26px;

      color: white;
  caret-color:#63ff47;
  caret-weight:600;
      background:
        linear-gradient(
          110deg,
          rgba(160,158,160,0.29),
          rgba(125,123,125,0.31)
        );

      box-shadow:
        0 10px 18px rgba(255,255,255,0.08);

      font-family: inherit;

      font-size: 16px;
      font-weight: 400;
    }
.field:focus{
  background-color:#222; 
}

    .field::placeholder {
      color: rgba(255,255,255,0.88);
      opacity: 1;
    }



    /* =========================
       NEXT BUTTON
       GREY BUTTON
       YELLOW TEXT
    ========================= */

    .next-btn {
      width: 75%;
      height: 64px;

      align-self: center;

      border: none;
      outline: none;

      border-radius: 18px;

      cursor: pointer;

      /* GREY/GLASS BUTTON */
      background:
        linear-gradient(
          100deg,
          #919193 0%,
          #b1b0b1 100%
        );

      /* ONLY TEXT IS YELLOW */
      color: #fff000;

      font-family: inherit;

      font-size: 27px;
      font-weight: 800;

      box-shadow:
       0 0px 10px rgb(183 183 183 / 39%),
        0 0 24px rgb(255 255 255 / 17%);
  filter: brightness(0.9);
      transition: 0.2s ease;
    }


    .next-btn:hover {
      transform: translateY(-2px);
      filter: brightness(1.04);
    }



    /* =========================
       TEVTA BUTTON
    ========================= */

    .portal-btn {
      /*position: fixed;*/
      /*right: 3.3vw;*/
      /*bottom: 20px;*/
      margin-top: 20px;
      margin-left: 650px;
      width: 248px;
      height: 43px;

      border: none;

      border-radius: 22px;

      background:
        linear-gradient(
          100deg,
          #16ff18 0%,
          #4dff0b 52%,
          #efff00 100%
        );

      color: #414141;

      font-family: inherit;

      font-size: 18px;
      font-weight: 400;

      box-shadow:
        0 0 18px rgba(80,255,20,0.10);

      cursor: pointer;
    }



    /* =========================
       MOBILE HEADER
    ========================= */

    .mobile-header {
      display: none;
    }



    /* =========================
       MOBILE
    ========================= */

    @media (max-width: 700px) {

      .page {
        min-height: 100svh;

        padding:
          0
          0
          28px;
      }


      /* Hide desktop header */

      .desktop-header {
        display: none;

      }


      /* Mobile header */

      .mobile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100vw;

        padding:
          44px
          44px
          0
          22px;
      }


      /* Mobile logo empty space */

      .mobile-logo {
        width: 75px;
        height: 75px;

        display: block;
      }


      /* Hamburger outer box */

     


      /* Empty space for hamburger icon */

      .menu-icon {
        width: 50px;
        height: 50px;
        display: block;
      }

.menu-icon>img{
  width: 100%;
  height: 100%;
}
.menu-icon:active{
  transform:scale(0.9);
}


      /* Title */

      h1 {
        margin-top: 50px;
        margin-bottom: 78px;

        font-size: 57px;

        letter-spacing: -1.5px;
      }



      /* Login box */

      .login-card {
        width: calc(100% - 40px);

        min-height: 700px;

        padding:
          60px
          15px
          20px;

        border-width: 2px;

        border-radius: 40px;
      }



      /* Form spacing */

      .form {
        gap: 49px;
      }



      /* Inputs */

      .field {
        height: 90px;

        border-radius: 22px;

        padding: 0 36px;

        font-size: 24px;

        border-width: 2px;
      }



      /* Next */

      .next-btn {
        width: 94%;

        height: 80px;

        border-radius: 20px;
        font-size: 42px;
      }



      /* Portal */

      .portal-btn {
        /*position: static;*/

        display: block;
        width: 304px;
        /*max-width: calc(100% - 150px);*/

        height: 60px;

        margin:
          80px
          25px
          0
          auto;

        border-radius: 45px;

        font-size: 28px;
      }
    }



    /* =========================
       SMALL PHONE
    ========================= */

    @media (max-width: 430px) {

      .mobile-header {
        width: 100vw;
        padding:
          42px
          32px
          0
          40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }


      .mobile-logo {
        width: 55px;
        height: 55px;
      }


      h1 {
        margin-top: 50px;

        margin-bottom: 54px;

        font-size: 44px;
      }


      .login-card {
        width: calc(100% - 30px);

        min-height: 600px;

        padding:
          70px
          22px
          24px;

        border-radius: 40px;
      }


      .form {
        gap: 52px;
      
      }


      .field {
        height: 74px;

        border-radius: 20px;

        padding: 0 25px;

        font-size: 20px;
      }


      .next-btn {
        height: 75px;

        border-radius: 32px;

        font-size: 30px;
      }


      .portal-btn {
        width: 260px;
        max-width: none;
        height: 60px;
        margin:
          58px
          24px
          0
          auto;
      font-size: 24px;
      }

        
    }

    /*external < 450 import css*/
 .portal-btn >a{
          text-decoration: none;
          color:#222;
         }


